.loginsignup{
width: 100%;
height: 80vh;
background: #fce3fe;
padding-top: 100px;
}
.loginsignup-container{
width: 580px;
height: 600px;
background:white;
margin: auto;
padding: 40px 60px;
}
.loginsignup-container h1{
margin: 20px 0px;
}

.loginsignup-feilds{
display: flex;
flex-direction: column;
gap: 28px;
margin-top: 32px;
}
.loginsignup-feilds input{
height: 74px;
width: 100%;
padding-left: 22px;
border: 1px solid E#c9c9c9;
outline: none;
color: #5c5c5c;
font-size: 20px;
}
.loginsignup-container button{
width: 580px;
height: 74px;
color:
white;
background: #ff4141;
margin-top: 30px;
border: none;
font-size: 26px;
font-weight: 500;
cursor: pointer;
}
.loginsignup-login{
margin-top: 20px;
color: #5c5c5c;
font-size: 20px;
font-weight: 500;
}
.loginsignup-login span{
color: #ff4141;
font-weight: 600;
}
.loginsignup-agree{
display: flex;
align-items: center;
margin-top: 25px;
gap: 22px;
color: #5d5c5c;
font-size: 18px;
}
@media (max-width: 1280px) {
    .loginsignup-container {
        width: 90%;
        height: auto;
        padding: 30px 20px;
    }
    .loginsignup-container button {
        width: 100%;
        height: 60px;
        font-size: 20px;
    }
    .loginsignup-feilds input {
        height: 56px;
        font-size: 16px;
    }
}

@media (max-height: 800px) {
    .loginsignup-container {
        height: auto;
        padding: 28px 22px;
    }
    .loginsignup-container button {
        height: 60px;
        font-size: 22px;
    }
    .loginsignup-feilds input {
        height: 56px;
        font-size: 16px;
    }
}